XML y XSD/EQUIPO/XSD - EQUIPO.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="equipos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="equipo" maxOccurs="unbounded" minOccurs="4">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombreequipo">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="posicion"/>
              <xs:element name="jugador" maxOccurs="unbounded" minOccurs="8">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="jugador"/>
                    <xs:element type="xs:string" name="nombre"/>
                    <xs:element type="xs:byte" name="edad"/>
                    <xs:element type="xs:string" name="categoría"/>
                    <xs:element type="xs:float" name="sueldo"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="tipo" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="category" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>